/*BASE*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/table.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
}

#cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 300px;
}

/*CARDS*/

.card {
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#card-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-slot {
  width: 150px;
  height: 210px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-slot img {
  width: 100%;
  height: 100%;
}

/*BUTTONS*/

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background: #ffd700;
  color: #333;
}

button:hover {
  background: #ffec80;
}

.draw-btn {
  width: 100%;
  padding: 15px;
  background-color: #ffff00;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
